.footer {
    margin-top: 80px;
    margin-right: -8px;
    margin-left: -8px;
    margin-bottom: -8px;
    min-width: 100%;
    min-height: 3em;
    background-color: #4b4d55;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: #b3b7bd;
    font-size: 15px;
    font-family: sans-serif;
    background-color: transparent;
    font-size: 15px;
}

.me {
    font-size: inherit;
    text-decoration: none;
}

.me:link {
    color: #eae094;
}

.me:visited {
    color: #eae094;
}