.header {
    margin-top: -8px;
    margin-right: -8px;
    margin-left: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 4em;
    background-color: #e37424;
}

@media (max-width: 1024px) {
    .header {
        margin-top: -8px;
        margin-right: -8px;
        margin-left: -8px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100%;
        min-height: 4em;
        background-color: #e37424;
    }

    .header-title {
        font-size: large;
        color: rgb(69, 69, 69);
        text-decoration: solid;
        border: none;
        background: transparent;
    }
}

.header-title {
    font-size: 40px;
    color: #eae094;
    text-decoration: solid;
    border: none;
    background: transparent;
    transition-duration: .3s;
}

.header-title:hover {
    font-size: 42px;
    color: #eae094;
    cursor: pointer;
}

.popup-div {
    position: relative;
}
  
.popup-div:hover::before {
    font-size: medium;
    font-family: monospace;
    content: "Open Help";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: #292731;
    color: #eae094;
    border-radius: 2px;
    white-space: nowrap;
    font-weight: 600;
    animation: fade-in 1.5s forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}