.memory-container2-col {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 15% 85%;
    column-gap: 0px;
}


.memory-header-box {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgb(41, 41, 41);
    font-family: monospace;
    font-size: x-large;
    color: beige;
    height: 2em;
    width: 97%;
    padding-left: 3px;
}

@media (max-width: 1024px) {
    .memory-header-box {
        display: flex;
        justify-content: left;
        align-items: center;
        background-color: rgb(41, 41, 41);
        font-family: monospace;
        font-size: small;
        color: beige;
        height: 2em;
        width: 97%;
        padding-left: 3px;
    }

    .offsets {
        display: flex;
        justify-content: left;
        align-items: left;
        background-color: rgb(41, 41, 41);
        border: 0px;
        width: 97%;
        height: 30px;
        font-size: small;
        font-family: monospace;
        color: azure;
        grid-column-start: 2;
        grid-column-end: 2;
        padding-left: 3px;
    }

    .addresses {
        text-align: center;
        padding-left: 10px;
        padding-top: 10px;
        background-color: rgb(41, 41, 41);
        color: azure;
        font-size: small;
        font-family: monospace;
        border: 0px;
        width: 97%;
        height: 480px;
        resize: none;
    
    }

    .bitfield {
        padding-top: 10px;
        color: beige;
        font-size: small;
        font-family: monospace;
        background-color: #454545;
        border: 0px;
        width: 97%;
        height: 480px;
        resize: none;
        padding-right: 0px;
        padding-left: 3px;
    }
}

.float-left2 {
    display: flex;
    justify-content: left;
    float: left;
    width: 70%;
}

.float-right2 {
    display: flex;
    justify-content: right;
    align-items: center;
    float: right;
    width: 30%;
    padding-right: 25px;
}



.fetch {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(41, 41, 41);
    border: 0px;
    width: 97%;
    height: 50px;
}

.fetch:focus {
    outline: none;
}

.offsets {
    display: flex;
    justify-content: left;
    align-items: left;
    background-color: rgb(41, 41, 41);
    border: 0px;
    width: 97%;
    height: 30px;
    font-size: x-large;
    font-family: monospace;
    color: azure;
    grid-column-start: 2;
    grid-column-end: 2;
    padding-left: 3px;
}

.offsets:focus {
    outline: none;
}

.addresses {
    text-align: center;
    padding-left: 10px;
    padding-top: 10px;
    background-color: rgb(41, 41, 41);
    color: azure;
    font-size: x-large;
    font-family: monospace;
    border: 0px;
    width: 97%;
    height: 480px;
    resize: none;

}

.addresses:focus {
    outline: none;
}

.bitfield {
    padding-top: 10px;
    color: beige;
    font-size: x-large;
    font-family: monospace;
    background-color: #454545;
    border: 0px;
    width: 97%;
    height: 480px;
    resize: none;
    padding-right: 0px;
    padding-left: 3px;
}

.bitfield:focus {
    outline: none;
}

.from {
    font-size: large;
    font-family: monospace;
}

.from:focus {
    outline: none;
}

.fetch-btn {
    width: 70px;
    height: 25px;
    font-size: small;
    background-color: burlywood;
    color: #2f2f2f;
    border: none;
    margin-left: 15px;
}

.fetch-btn:hover {
    cursor: pointer;
    background-color: #d08b59;
    border-radius: 1px;
}

.fetch-btn-disabled {
    cursor: default;
    background-color: #5f5f5f;
    width: 70px;
    height: 25px;
    font-size: small;
    color: #2f2f2f;
    border: none;
    margin-left: 15px;
}


.trick {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: transparent;
}