.memory-container2-col {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 9% 91%;
    column-gap: 0px;
}


.memory-header-box {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #25282c;
    font-family: monospace;
    font-size: 16px;
    color: #d1d5db;
    height: 2em;
    width: 97%;
    padding-left: 3px;
}


.float-left2 {
    display: flex;
    justify-content: left;
    float: left;
    width: 70%;
}

.float-right2 {
    display: flex;
    justify-content: right;
    align-items: center;
    float: right;
    width: 30%;
    padding-right: 25px;
}



.fetch {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #25282c;
    border: 0px;
    width: 97%;
    height: 50px;
}

.fetch:focus {
    outline: none;
}

.offsets {
    display: flex;
    justify-content: left;
    align-items: left;
    background-color: #25282c;
    border: 0px;
    width: 97%;
    height: 30px;
    font-size: 16px;
    font-family: monospace;
    color: #d1d5db;
    grid-column-start: 2;
    grid-column-end: 2;
    padding-left: 3px;
}

.offsets:focus {
    outline: none;
}

.addresses {
    text-align: center;
    padding-top: 10px;
    background-color: #25282c;
    color: #d1d5db;
    font-size: 16px;
    font-family: monospace;
    border: 0px;
    width: 97%;
    height: 500px;
    resize: none;
    line-height: 23px;

}

.addresses:focus {
    outline: none;
}

.bitfield {
    padding-top: 10px;
    color: #eae094;
    font-size: 16px;
    font-family: monospace;
    background-color: #1d1f21;
    border: 0px;
    width: 97%;
    height: 500px;
    resize: none;
    padding-right: 0px;
    padding-left: 3px;
    line-height: 23px;
}

.bitfield:focus {
    outline: none;
}

.from {
    font-size: 16px;
    font-family: monospace;
    background-color: transparent;
    max-width: 8ch;
    color: #d1d5db;
    border-width: 1px;
    border-radius: 4px;
}

.from:focus {
    outline: none;
}

.fetch-btn {
    width: 70px;
    height: 25px;
    font-size: small;
    background-color: transparent;
    color: #eae094;
    border: none;
    margin-left: 15px;
    transition-duration: .3s;
}

.fetch-btn:hover {
    cursor: pointer;
    background-color: #484747;
    border-radius: 1px;
}

.fetch-btn-disabled {
    cursor: default;
    background-color: transparent;
    width: 70px;
    height: 25px;
    font-size: small;
    color: #5e5e5e;
    border: none;
    margin-left: 15px;
}


.trick {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: transparent;
}